body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ff9898;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
    padding: 20px; /* Added padding for responsiveness */
}

.container {
    text-align: center;
    max-width: 90%; /* Limited max-width for better fit */
    margin: 0 auto; /* Center the container */
    display: flex; /* Flex display */
    justify-content: center; /* Center align the content */
    align-items: center; /* Center align the content */
    flex-direction: column; /* Stack the content vertically */
    height: 100%; /* Full height to allow centering */
}

h1 {
    font-size: 2.5em;
    color: #d32f2f;
}

.buttons {
    margin-top: 20px;
    display: flex; /* Flex display for better alignment */
    justify-content: center; /* Center align the buttons */
    flex-wrap: wrap; /* Allow wrapping of buttons */
}

.yes-button, .no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 10px; /* Added margin for spacing */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.yes-button {
    background-color: #00ff08;
}

.no-button {
    background-color: #f44336;
}

.gif_container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    display: block;
}